@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 75%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
body {  background-color: #1F1F1F;  }

/* Navbar Styling starts */

nav {
  padding: 25px 0;
  margin-top: 15px;
  border-bottom: 1px solid #292929;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  flex-basis: 45%;
}

nav li.active {  border-bottom: 3px solid #8fd0a7; }

nav li {
  padding: 12px 0;
  margin: 0 4%;
}

nav a {
  color: #8fd0a7;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
}


/* Navbar Styling starts */
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.filters ul {  padding: 20px 0; }

.filters a {
  padding: 7px 10px;
  color: #fff;
  font-size: 10px;
  text-transform: capitalize;
}

.filters li:not(.active) a:hover {
  background-color: #8fd0a7;
  text-decoration: underline;
}

.filters li {  margin: 0 0.5% 0 0;  }
.filters {  background-color: #1F1F1F;  }

.filters .active a {
  background-color: #8fd0a7;
  color: #fff;
}

.images {  display: block;  }

.image-container ul {
  padding-bottom: 30px;
  border-bottom: 1px solid #292929;
  display: flex;
  flex-wrap: wrap;
}

.image-container li {  flex-basis: 25%; }
.image-container .hide{  display: none; }

/* modal styling */

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0,0,0,0.3);
}

.show{
  display: block;
}

.modal {
  width: 70vw;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.modal-background::before{
  content: '\f00d';
  padding: 1%;
  position: absolute;
  top: 2%;
  right: 2%;
  background: rgba(0,0,0,0.3);
  color: #fff;
  font-family: "fontAwesome";
  font-size: 30px;
  cursor: pointer;
}

.modal figure {
  height: 100%;
}

.modal img {
  height: 100%;
  object-fit: cover;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
/* top footer styling */

h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.top-footer ul {
  padding: 25px 0 0 0;
  display: flex;
  color: #7a7a7a;
}

ul.popular-tags li {  margin: 0 14% 10px 0; }

.text-widget,.recent-posts {
  display: flex;
  flex-direction: column;
}

.popular-tags,.flickr-gallery{
  display: flex;
  flex-wrap: wrap;
}

.text-widget li {
  padding: 10px 0;
  font-size: 10px;
}

.recent-posts li {
  padding: 10px 0;
  font-size: 10px;
  text-transform: capitalize;
}

.recent-posts li:nth-child(1){  border-bottom: 1px solid #292929; }
.recent-posts li:nth-child(2){  border-bottom: 1px solid #292929; }
.recent-posts li:nth-child(3){  border-bottom: 1px solid #292929; }

ul.popular-tags a {
  padding: 7px 21%;
  background-color: #8fd0a7;
  color: #fff;
  font-size: 10px;
}

.list-1, .list-2, .list-3, .list-4 {
  padding: 5px 1%;
  flex-basis: 25%;
}

ul.text-widget,ul.recent-posts,ul.popular-tags,ul.flickr-gallery{
  padding: 5px 0;
}

ul.flickr-gallery li {  flex-basis: 20%;  }

ul.flickr-gallery li {
  padding: 2% 4% 2% 0;
  flex-basis: 20%;
}

.top-footer .wrapper {  border-bottom: 1px solid #292929; }

/* top footer styling ends */

/* bottom footer styling */

.bottom-footer {  padding: 15px 0;  }

.bottom-footer .wrapper {
  display: flex;
  justify-content: space-between;
}

.bottom-footer p {
  color: #7a7a7a;
  font-size: 10px;
}

.bottom-footer a {
  color:#000;
  text-indent: -9999px;
}

.google a::before {
  padding: 30%;
  background: #fff;
  border-radius: 50%;
  content: '\f0d5';
  font-family: "fontAwesome";
  font-size: 12px;
  text-indent: 0%;
  float: right;
  color: #7d7d7d;
}

.twitter a::before {
  padding: 30%;
  background: #fff;
  border-radius: 50%;
  content: '\f099';
  font-family: "fontAwesome";
  font-size: 15px;
  text-indent: 0%;
  float: right;
  color: #7d7d7d;
}

.pinterest a::before {
  padding: 4px 40%;
  background: #fff;
  border-radius: 50%;
  content: '\f231';
  font-family: "fontAwesome";
  font-size: 15px;
  text-indent: 0%;
  float: right;
  color: #7d7d7d;
}

.ballon a::before {
  padding: 30%;
  background: #fff;
  border-radius: 50%;
  content: '\f05e';
  font-family: "fontAwesome";
  font-size: 15px;
  text-indent: 0%;
  float: right;
  color: #7d7d7d;
}

.linkedin a::before {
  padding: 5px 45%;
  background: #fff;
  border-radius: 50%;
  content: '\f0e1';
  font-family: "fontAwesome";
  font-size: 15px;
  text-indent: 0%;
  float: right;
  color: #7d7d7d;
}

.facebook a::before {
  padding: 4px 70%;
  background: #fff;
  border-radius: 50%;
  content: '\f09a';
  font-family: "fontAwesome";
  font-size: 15px;
  text-indent: 0%;
  float: right;
  color: #7d7d7d;
}

.bottom-footer ul {  flex-basis: 22%; }
.bottom-footer li {  margin: 0 3%;  }

/* bottom footer styling ends */
/*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  